body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

/* Зачем мы сбрасываем margin
для <h> и <p> если есть нормалайзер??? */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* Не дуже розумію звідки інфа 
про padding: 15px 0;
Чи це якесь правило що не можно робити
контейнер по ширині без паддінгів?
З макету початково я зробив просто
max-width: 1128px;  */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header .logo {
    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
}

.nav-list {
    display: flex;
}

.page-nav .nav-link {
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.page-nav .nav-link:hover,
.page-nav .nav-link:focus {
    color: #404BBF;
}

.page-nav .nav-link:active {
    color: #404BBF;
    text-decoration: solid underline 2px;
}


.page-nav ul li:not(:last-child),
.address ul li:not(:last-child) {
margin-right: 40px;}

.address  {
    font-style: normal
}

.address-list {
    display: flex   ;
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
}

.address .address-link:hover,
.address .address-link:focus {
    color: #404BBF;
}

.welcome-section {
    background: #2e2f42;
    padding: 188px 0;
}

.page-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;

    max-width: 496px;
    margin-bottom: 48px;
}

.btn {
    display: block;

    font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #fff;
        line-height: 1.5;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    height: 56px;
    min-width: 169px;
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.section-text {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.section-list {
    display: flex;
    gap: 24px;
}

.section-list li {
    flex-basis: calc((100% - 72px) / 4);
}

.section-our-team {
    background: #f4f4fd;
    text-align: center;
}

.member-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.card-descr {
    padding: 32px 0;
}

.portfolio-list {
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-card {
    flex-basis: ((100% - 48px) / 3);
}

.portfolio-card .card-descr {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-text  {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer .logo-span {
    color: #F4F4FD;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}