body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

/* Зачем мы сбрасываем margin
для <h> и <p> если есть нормалайзер??? */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* Не дуже розумію звідки інфа 
про padding: 15px 0;
Чи це якесь правило що не можно робити
контейнер по ширині без паддінгів?
З макету початково я зробив просто
max-width: 1128px;  */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header .logo {
    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
}

.nav-list {
    display: flex;
}

.page-nav .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .nav-link:hover,
.page-nav .nav-link:focus {
    color: #404BBF;
}

.page-nav .first-link {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .first-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}


.page-nav ul li:not(:last-child),
.address ul li:not(:last-child) {
margin-right: 40px;}

.address  {
    font-style: normal
}

.address-list {
    display: flex   ;
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-link:hover,
.address .address-link:focus {
    color: #404BBF;
}

.welcome-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.page-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;

    max-width: 496px;
    margin: 0 auto 48px;
}

.btn {
    display: block;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #fff;
        line-height: 1.5;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(46, 47, 66, 0.15);

    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-text {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.section-list {
    display: flex;
    gap: 24px;
}

.section-list .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin: 0 0 8px;
}

.section-list .section-list-item,
.section-list .member-card {
    flex-basis: calc((100% - 72px) / 4);
}

.section-our-team {
    background: #f4f4fd;
    text-align: center;
}

.member-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.card-descr {
    padding: 32px 0;
}

.member-card .section-text {
    margin-bottom: 8px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.social-links-item .link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item .link:hover,
.social-links-item .link:focus {
    background-color: #404BBF;
}

.icon {
    fill: #f4f4fd;
}

.portfolio-list {
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-card {
    flex-basis: ((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio-card:hover {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card .card-descr {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.card-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    letter-spacing: 0.02em;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay{
    transform: translateY(0);
}

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .sub-container:first-child{
    margin-right: 120px;
}

.footer .sub-container:nth-last-child(2) {
    margin-right: 80px;   
}

.footer-text  {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer .logo-span {
    color: #F4F4FD;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .social-links-list {
    gap: 16px
}

.social-media {
    margin-bottom: 16px;

    color: #fff;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.footer .link:hover,
.footer .link:focus {
    background-color: #31D0AA;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form .form-input {
    display: block;

    font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;

    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form .form-input::placeholder {
    color: #fff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn .icon {
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

/* !!!Backdrop & Modal`s!!! */

.backdrop {
    padding: 8px;
    
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);;

    background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.modal .close-btn:hover,
.modal .close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.close-btn .icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon,
.close-btn:focus .icon {
    fill: #fff;
}

.modal .modal-title {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.input-wrapper {
    margin-bottom: 8px;
}

.callback-form .input-label {
    display: block;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    margin-bottom: 4px;
}

.input-field-container {
    position: relative;
}

.callback-form .form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form .form-input:hover + .icon,
.callback-form .form-input:focus + .icon {
    fill: #4D5AE5;
}

.callback-form .form-input:hover,
.callback-form .form-input:focus {
    border-color: #4D5AE5;
}

.textarea-wrapper {
    margin-bottom: 16px;
}

.callback-form .form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form .form-textarea:hover,
.callback-form .form-textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.callback-form .privacy-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-check:hover + .privacy-check-label .custom-checkbox,
.privacy-check:focus-visible +.privacy-check-label .custom-checkbox {
    border: 1px solid #404BBF;
}

.privacy-check:checked:hover + .privacy-check-label .custom-checkbox,
.privacy-check:checked:focus-visible + .privacy-check-label .custom-checkbox {
    outline: 1px solid rgba(46, 47, 66, 0.4);
}

.privacy-check:checked + .privacy-check-label .custom-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4D5AE5;
    text-decoration: underline;
}